<!DOCTYPE html>
<html lang='pt-BR'>

<head>
    <title>FullStackVaga</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link href="https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&family=PT+Sans+Narrow&display=swap" rel="stylesheet">

</head>

<body>
    <header class="page-header">
        <%= link_to  home_index_path do %>
            <%= image_tag  "RailsNote.png", class: 'logo-image' %>
        <% end %>
        <% if admin_signed_in? %>
            <%= link_to "Sair", destroy_admin_session_path, method: :delete, class: 'btn btn-danger btn-sm' %>
        <% end%>
    </header>
    <%= flash_messages %>
    <%= yield %>
</body>

</html>